   <%  attraction = @attraction if @attraction.present? %>

        <div class="attraction-card">
         <div class="attraction-card-content" style="background-color: white;">
<img class="attraction-photo" src=<%= cl_image_path(attraction.image, cloud_name: 'di7okux3q')%>>
            <div class="attraction-info" style="display:inline">
              <h5 class="attraction-name"><%= attraction.subject %></h5>
              <p class="attraction-card-para"><%= attraction.content %></p>
              <a href=<%= attraction.link %> class="attraction-website-button">
                <div class="btn btn-primary btn-xs">visit site</div> </a>
            </div>
          </div>
        </div>

