

<% if @dofe %>

<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2) ), url('https://web.tgsch.uk/wp-content/uploads/2018/03/DofE-1.jpg');">
  <div class="banner-content">
    <h1><%= @pagetitle %></h1>
  </div>
</div>


<% else %>

<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2) ), url('<%=cl_image_path('bigstock-Dry-Stone-Wall-12001274', height: 380, cloud_name: 'di7okux3q')%>');">
  <div class="banner-content">
    <h1><%= @pagetitle %></h1>
  </div>
</div>

<% end %>


<!-- https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/DofE-group.jpg/220px-DofE-group.jpg -->

<%# cl_image_path "ffWoods.jpg", cloud_name: "di7okux3q"%>
