<footer class="site-footer" id="footer">
  <div class="grid">
    <div class="row">
    <div class="col-lg-6">
    <div class="footer-info">
      <p>Folly Farm Campsite, Bourton-on-the-Water, Gloucestershire, GL54 3BY</p>
      <hr>
       <p> 01451 820285 | <a href="mailto:cotswoldcamping@gmail.com" style="text-decoration: none; color: white;">cotswoldcamping@gmail.com</a> </p>
    </div>
  </div>
    <div class="col-lg-6">
      <div class="footer-links" style="float:right">
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <%=  link_to "Terms and Conditions", terms_path%>
      </div>
    </div>
  </div>
</div>
</footer>
