  <div class="footer">
    <p>Folly Farm Campsite, Bourton-on-the-Water, Gloucestershire, GL54 3BY | 01242 285855 | cotswoldcamping@gmail.com <span> | <%=  link_to "Terms and Conditions", terms_path %></span></p>
  </div>
