
<style>

.home-button {
  font-family: Raleway !important;
  font-weight: bold;
}

</style>

    <div class="home-banner" style="background-image: url(<%= cl_image_path("cornfield.jpg", cloud_name: "di7okux3q", crop: :scale, fetch_format: :auto, quality: 50)%>);">
        <div class="home-banner-content">

              <div class="home-intro">
                <h1>Closed until further notice</h1>

              <p>To help ensure Government advice on social distancing is followed Folly Farm Campsite will be from Sunday 22 March 2020. We thank you for your patience and support during these challenging times. Stay safe and well.</p>
                  <a class="btn btn-success btn-lg home-button" href="https://cotswoldcamping.campstead.com/CheckAvailability.asp">check availability</a>
              </div>
        </div>
</div>
