
<style>

.home-button {
  font-family: Raleway !important;
  font-weight: bold;
}

</style>

    <div class="home-banner" style="background-image: url(<%= cl_image_path("cornfield.jpg", cloud_name: "di7okux3q", crop: :scale, fetch_format: :auto, quality: 50)%>);">
        <div class="home-banner-content">

              <div class="home-intro">
                <h1>Folly Farm Campsite will reopen on the 3rd July 2020.</h1>
              <p>Please check the Covid section of the website for more details</p>
                  <a class="btn btn-success btn-lg home-button" href="https://cotswoldcamping.campstead.com/CheckAvailability.asp">check availability</a>
              </div>
        </div>
</div>
