
<style>

.home-button {
  font-family: Raleway !important;
  font-weight: bold;
}

</style>

    <div class="home-banner" style="background-image: url("https://www.eliberico.com/wp-content/uploads/2020/04/negocio-cerrado-por-coronavirus.jpg");">
        <div class="home-banner-content">

              <div class="home-intro">
                <h1>Closed</h1>
              <p>Due to Covid 19 restrictions until further notice</p>
                  <a class="btn btn-success btn-lg home-button" href="https://cotswoldcamping.campstead.com/CheckAvailability.asp">check availability</a>
              </div>
        </div>
</div>
