

<div class="row" id="home">

      <div class="home-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= cl_image_path "cornfield.jpg", cloud_name: "di7okux3q"%>);">


        <div class="home-banner-content">


              <div class="home-intro">
              <h3>Welcome to Folly Farm</h3>

              <hr>

              <p>Folly Farm Cotswold Camping is a quiet site in the heart of the Cotswolds.  It is in an “area of outstanding natural beauty”  close to the villages of Cold Aston and Notgrove.</p>
              <p>The area is much loved for it's extensive walks and cycle routes. We are close to Cotswold Farm Park and Naunton Downs Golf Course as well as many historic villages and towns. South Cerney Water Parks which host a variety of water activities and the Cotswold Wildlife Park near Burford are only 30 minutes drive from us.</p>
              <p>We offer simple facilities that include 4 showers, 7 toilets, dishwashing facilities, 10 amp electric hook-up points and a chemical WC disposal point.</p>

              <hr>

                <a class="btn btn-primary btn-lg" href=<%=about_path%>>check availability</a>
              </div>

          </div>
      </div>
</div>
