
<style>

.home-button {
  font-family: BebasNeue-Regular !important;
}

</style>

<div class="row">
    <div class="home-banner" style="background-image: url(<%= cl_image_path "cornfield.jpg", cloud_name: "di7okux3q"%>);">
        <div class="home-banner-content">

              <div class="home-intro">
                <h1>Welcome to Folly Farm</h1>


              <p>Folly Farm Cotswold Camping is a quiet site in the heart of the Cotswolds.  It is in an “area of outstanding natural beauty”  close to the villages of Cold Aston and Notgrove.</p>

                  <a class="btn btn-primary btn-lg home-button" href=<%=about_path%>>check availability</a>
              </div>
        </div>
    </div>
</div>
