
<style>

.home-button {
  font-family: Raleway !important;
  font-weight: bold;
}

</style>

    <div class="home-banner" style="background-image: url(<%= cl_image_path("cornfield.jpg", cloud_name: "di7okux3q", crop: :scale, fetch_format: :auto, quality: 50)%>);">
        <div class="home-banner-content">

              <div class="home-intro">
                <h1>Closed until further notice</h1>

              <p>Folly Farm Cotswold Camping is a quiet site in the heart of the Cotswolds.  It is in an “area of outstanding natural beauty”  close to the villages of Cold Aston and Notgrove.</p>

                  <a class="btn btn-success btn-lg home-button" href="https://cotswoldcamping.campstead.com/CheckAvailability.asp">check availability</a>
              </div>
        </div>
</div>
