<p>Folly Farm Camping,</p>
 <p>Bourton-on-the-Water,</p>
 <p>Cheltenham GL54 3BY</p>
 <!-- <a href="https://www.google.co.uk/maps/place/Folly+Farm+Camping/@51.8844963,-1.8227667,17z">google maps</a> -->
