   <%  attraction = @attraction if @attraction.present? %>

        <div class="row attraction-card">
          <div class="col-sm-4">
<img class="attraction-photo" src="http://res.cloudinary.com/di7okux3q/image/upload/v1522773619/vwbeetle.jpg">
          </div>
            <div class="col-sm-8">
              <div class="attraction-contents">
              <h5 class="attraction-name">Folly Farm Camping</h5>
              <p class="attraction-card-para"><p> Bourton-on-the-Water, Gloucestershire, GL54 3BY</p></p>
              <div style="padding-bottom: 40px;"></div>
              </div>
            </div>



            <div class="attraction-website-button">
            <a href="https://www.google.co.uk/maps/place/Folly+Farm+Camping/@51.8844963,-1.8227667,17z" target="_blank">
                <div class="btn btn-primary btn-xs">Gmaps</div></a>


              <a href="https://cotswoldcamping.campstead.com/CheckAvailability.asp" target="_blank">
                <div class="btn btn-success btn-xs">Book</div></a>
            </div>

        </div>










 <!-- <a href=>google maps</a> -->
