<table border="0" cellspacing="0" style="border: 0px solid #ffffff; width: 500px; height: 120px;">
<tbody>
<tr>
<td>
<h2><span style="font-size: large;"><span style="font-size: x-large;">Low Season&nbsp;</span> &nbsp;&nbsp;</span></h2>
</td>
<td style="text-align: center;"><span style="font-size: large;"><br />Pitch per <br />Night<br /></span></td>
<td>
<div style="text-align: center;"></div>
<span style="font-size: large;">
<div style="text-align: center;">&nbsp; &nbsp;&nbsp;</div>
<div style="text-align: center;">With</div>
<div style="text-align: center;">Electric&nbsp; &nbsp;</div>
</span>
<h6 style="text-align: center;"></h6>
</td>
</tr>
<tr>
<td><span style="font-size: large;">Tent maximum 6x6m</span></td>
<td style="text-align: center;"><span style="font-size: large;">&pound;16<br /></span></td>
<td style="text-align: center;"><span style="font-size: large;">&pound;20<br /></span></td>
</tr>
<tr>
<td><span style="font-size: large;">Motorhome/campervan&nbsp;&nbsp;<br /></span></td>
<td style="text-align: center;"><span style="font-size: large;">&pound;16</span></td>
<td style="text-align: center;"><span style="font-size: large;">&pound;20</span></td>
</tr>
<tr>
<td><span style="font-size: large;">Caravan no awning&nbsp; <br /></span></td>
<td style="text-align: center;"><span style="font-size: large;">&pound;16</span></td>
<td style="text-align: center;"><span style="font-size: large;">&pound;20</span></td>
</tr>
</tbody>
</table>
<br />
<br /><br />
<table border="0" cellspacing="0.5" style="width: 500px;">
<tbody>
<tr>
<td>
<h2><span style="font-size: x-large;">Medium Season&nbsp;</span></h2>
</td>
<td><br /></td>
<td><br /></td>
</tr>
<tr>
<td>
<h2><span style="font-size: large;">Easter, Whitsun, June, July &amp; August.</span></h2>
</td>
<td><span style="font-size: large;"><br />Pitch per night</span></td>
<td><span style="font-size: large;"><br />With Electric</span></td>
</tr>
<tr>
<td><span style="font-size: large;">Tent 6x6m<br /></span></td>
<td style="text-align: center;"><span style="font-size: large;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &pound;20</span></td>
<td style="text-align: center;"><span style="font-size: large;">&nbsp; &nbsp; &nbsp; &pound;24</span></td>
</tr>
<tr>
<td><span style="font-size: large;">Motorhome/Campervan</span></td>
<td style="text-align: center;"><span style="font-size: large;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &pound;20</span></td>
<td style="text-align: center;"><span style="font-size: large;">&nbsp; &nbsp; &nbsp;&pound;24</span></td>
</tr>
<tr>
<td><span style="font-size: large;">Caravan no awning</span></td>
<td style="text-align: center;"><span style="font-size: large;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&pound;20</span></td>
<td style="text-align: center;"><span style="font-size: large;">&nbsp; &nbsp; &nbsp;&pound;24</span></td>
</tr>
<tr>
<td style="width: 120px;">
<h2></h2>
</td>
<td style="text-align: center;"><br /><br /></td>
<td style="text-align: center;"></td>
</tr>
</tbody>
</table>
<table border="0" cellspacing="0.5" style="text-align: left; width: 500px;">
<tbody>
<tr>
<td>
<h2><span style="font-size: large;"><br /></span></h2>
<h2><span style="font-size: large;"><span style="font-size: x-large;">High Season</span> <span style="font-size: medium;">(Any 3 nights over a bank holidays.)</span></span></h2>
</td>
<td style="text-align: center;"><span style="font-size: large;"><br /><br />Pitch Per night<br />&nbsp;</span></td>
<td>
<div style="text-align: center;"><span style="font-size: medium;"><span style="font-size: large;">&nbsp;</span></span></div>
<div style="text-align: center;"><span style="font-size: large;"><br /></span></div>
<div style="text-align: center;"><span style="font-size: large;">With electric&nbsp;</span><span style="font-size: medium;">&nbsp;</span></div>
<span style="font-size: large;"> </span></td>
</tr>
<tr>
<td><span style="font-size: large;">Tent maximum 6x6m</span></td>
<td style="text-align: center;"><span style="font-size: large;">&pound;24</span></td>
<td style="text-align: center;"><span style="font-size: large;">&pound;28</span></td>
</tr>
<tr>
<td>
<p><span style="font-size: large;">Motorhome/ Campervan</span></p>
</td>
<td style="text-align: center;"><span style="font-size: large;">&pound;24</span></td>
<td style="text-align: center;"><span style="font-size: large;">&pound;28</span></td>
</tr>
<tr>
<td><span style="font-size: large;">Caravan no awning</span></td>
<td style="text-align: center;"><span style="font-size: large;">&pound;24</span></td>
<td style="text-align: center;"><span style="font-size: large;">&pound;28</span></td>
</tr>
</tbody>
</table>
<br /><br />
<table border="0" style="width: 300px; height: 117px;">
<tbody>
<tr>
<td>
<h2><span style="font-size: large;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Extras</span></h2>
</td>
<td style="text-align: center;">
<h2><span style="font-size: large;">Price</span></h2>
</td>
</tr>
<tr>
<td style="text-align: center;"><span style="font-size: large;">Porch Awning</span></td>
<td style="text-align: center;"><span style="font-size: large;">&pound;3.50</span></td>
</tr>
<tr>
<td style="text-align: center;"><span style="font-size: large;">Full Awning</span></td>
<td style="text-align: center;"><span style="font-size: large;">&pound;4.50</span></td>
</tr>
<tr>
<td style="text-align: center;"><span style="font-size: large;">Extra adult&nbsp;</span><br /></td>
<td style="text-align: center;"><span style="font-size: large;">&pound;5&nbsp;&nbsp;</span></td>
</tr>
<tr>
<td style="text-align: center;"><span style="font-size: large;"><span style="font-size: large;">Extra child (Aged 4-16, 0-3yrs Free)</span><br /></span></td>
<td style="text-align: center;"><span style="font-size: large;">&pound;3.50</span></td>
</tr>
<tr>
<td style="text-align: center;"><span style="font-size: large;">Extra car</span></td>
<td style="text-align: center;"><span style="font-size: large;">&pound;5</span></td>
</tr>
<tr>
<td style="text-align: center;"><span style="font-size: large;">Dogs<br /></span></td>
<td style="text-align: center;"><span style="font-size: large;">&pound;1.50</span></td>
</tr>
<tr>
<td style="text-align: center;">
<h2><span style="font-size: large;">Showers</span></h2>
</td>
<td style="text-align: center;">
<h2><span style="font-size: large;">FREE</span></h2>
</td>
</tr>
<tr>
<td><br /></td>
<td style="text-align: center;"><span style="font-size: large;"><br /></span></td>
</tr>
</tbody>
</table>
<table border="0" style="width: 300px; height: 117px;">
<tbody>
<tr>
<td>
<h2 style="padding-left: 30px;"><span style="font-size: large;">Day Visitors welcome, please report to reception on arrival and you must vacate the site by 8pm:&nbsp;</span></h2>
<div style="padding-left: 30px;"><span style="font-size: large;">&nbsp; &pound;5 per car inc. driver</span><span style="font-size: large;"><span style="font-size: large; text-align: center;">
<div style="text-align: left;">&nbsp; &pound;2 Per adult</div>
</span><span style="font-size: large; text-align: center;">
<div style="text-align: left;"><span style="text-align: center;">&nbsp; &pound;1 per child (4-16yrs.)</span></div>
</span>
<div style="text-align: left; padding-left: 30px;"><span style="font-size: large;"><br /></span></div>
<br /><span style="font-size: large; text-align: center;"> </span><span style="font-size: large; text-align: center;">
<div style="text-align: left;"></div>
</span></span></div>
<span style="font-size: large;">&nbsp;</span></td>
<td style="text-align: center;"><span style="font-size: large;">
<div style="text-align: left;"></div>
</span></td>
</tr>
</tbody>
</table>
