<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #6A7577;
    color: white;
}

</style>

<div class="row">
  <div class="col-lg-12">

    <table id="customers">
      <tr>
        <th>Prices (Pitch per night)</th>
        <th>Basic</th>
        <th>With electric </th>
      </tr>
      <tr>
        <td>Low Season</td>
        <td>£16</td>
        <td>£20</td>
      </tr>
      <tr>
        <td>High Season</td>
        <td>£20</td>
        <td>£24</td>
      </tr>
      <tr>
        <td>Peak Season</td>
        <td>£24</td>
        <td>£28</td>
      </tr>
    </table>
</div>


  <div class="col-lg-12">

    <table id="customers">
      <tr>
        <th>Extras</th>
        <th>Price</th>
      </tr>
      <tr>
        <td>Porch Awning</td>
        <td>£3.50</td>
      </tr>
      <tr>
        <td>Full Awning</td>
        <td>£4.50</td>
      </tr>
      <tr>
        <td>Extra adult</td>
        <td>£5</td>
      </tr>
          <tr>
        <td>Extra child (Aged 4-16, 0-3yrs Free)</td>
        <td>£3.50</td>
      </tr>
          <tr>
        <td>Extra car</td>
        <td>£5</td>
      </tr>
          <tr>
        <td>Dogs</td>
        <td>£1.50</td>
      </tr>
         <tr>
        <td>Showers</td>
        <td>FREE</td>
      </tr>
    </table>
</div>

</div>
