
<div class="route-card row">
    <div class="col-lg-6"><img style="width:100%" src="https://maps.googleapis.com/maps/api/staticmap?center=51.8844963,-1.8227667&markers=color:red%7C51.8844963,-1.8227667&zoom=12&size=480x380&key=AIzaSyCKxAu_Y-IhJUSTXAcMghvx_UDSBSGm2l8"/></div>
    <div class="col-lg-6">
      <h1 class="route-name">Naunton and Aylworth</h1>
      <div class="route-separator"></div>
      <p>This is a pleasant, quiet walk with good views and rolling countryside. The villages are beautiful and typical of the Cotswolds. We recommend that you make use of an Ordnance Survey map in conjunction with this suggested route.</p>
      <div style="padding-bottom: 60px;"></div>
    </div>
    <div class="btn btn-success os-button">os map here</div>
</div>




<div class="route-card row">
    <div class="col-lg-6"><img style="width:100%" src="https://maps.googleapis.com/maps/api/staticmap?center=51.8844963,-1.8227667&markers=color:red%7C51.8844963,-1.8227667&zoom=12&size=480x380&key=AIzaSyCKxAu_Y-IhJUSTXAcMghvx_UDSBSGm2l8"/></div>
    <div class="col-lg-6">
      <h1 class="route-name">Cold Aston</h1>
      <div class="route-separator"></div>
      <p>This is a very simple walk that is suitable for people wanting to stroll to the pub and back using a different route.</p>
      <div style="padding-bottom: 60px;"></div>
    </div>
    <div class="btn btn-success os-button">os map here</div>
</div>


<div class="route-card row">
    <div class="col-lg-6"><img style="width:100%" src="https://maps.googleapis.com/maps/api/staticmap?center=51.8844963,-1.8227667&markers=color:red%7C51.8844963,-1.8227667&zoom=12&size=480x380&key=AIzaSyCKxAu_Y-IhJUSTXAcMghvx_UDSBSGm2l8"/></div>
    <div class="col-lg-6">
      <h1 class="route-name">Bourton</h1>
      <div class="route-separator"></div>
      <p>This is a pretty walk that follows the course of the River Windrush for some of the time on Windrush Way.</p>
       <div style="padding-bottom: 60px;"></div>
    </div>
    <div class="btn btn-success os-button">os map here</div>
</div>


<div class="route-card row">
    <div class="col-lg-6"><img style="width:100%" src="https://maps.googleapis.com/maps/api/staticmap?center=51.8844963,-1.8227667&markers=color:red%7C51.8844963,-1.8227667&zoom=12&size=480x380&key=AIzaSyCKxAu_Y-IhJUSTXAcMghvx_UDSBSGm2l8"/></div>
    <div class="col-lg-6">
      <h1 class="route-name">Turkdean</h1>
      <div class="route-separator"></div>
      <p>This walk features three beautiful Cotswold Villages that are relatively untouched by time.</p>
       <div style="padding-bottom: 60px;"></div>
    </div>
    <div class="btn btn-success os-button">os map here</div>
</div>
