<h4>Prices</h4>

<p>All pitches include 2 people and 1 vehicle. Children aged 3 yrs and under are free.</p>

<p>There is a backpackers rate for anyone who walks/cycles to the site with a small 1-2 man tent, for information regarding this please call us.</p>

<p>We cannot accept commercial vehicles/vans.</p>

<p>Large tents that require over 6 metres width or length need to be booked directly with the site manager on 01451 820285 or 07906 990434.</p>

<p>Please arrive between 1pm to 8pm, pitches should be vacated by 11.00am on the day of departure. If you need flexibility with your arrival or departure times contact us and we will do our best to help.</p>

<p>There is a minimum booking of three nights for Bank Holidays and 2 nights for High Season weekends.</p>

<p>Any questions email cotswoldcamping@gmail.com or call 01451 820285 or 07906 990434. If nobody is available please leave a message and we will get back to you.</p>


<h4>How to find us</h4>


<p>We are 2.5 miles on the left of the A436 from Bourton-on-the-Water heading towards Cheltenham and approximately 8 miles on the right of the A436 from the A40/Andoversford junction heading towards Bourton-on-the-Water.</p>

<h5>SATNAV USERS</h5>
We share a postcode with nearby properties known as Upper Harford.  They have a message on their drive saying "NOT Folly Farm".  Our drive is on the other side of the road about 200 metres in the Cheltenham direction. Please look out for the Folly Farm Campsite sign and the avenue of Poplar trees down the drive.

<h5> SAT NAV Co-ordinates; </h5>

<p> N 51, 53', 6.7" </p>
 <p> W  1, 49', 24.2" </p>

<h5>OS MAPS</h5>

<p>Footpaths were formally diverted away from our neighbouring properties in September 2015.  Please make sure you are using up to date OS Maps or ask our managers for directions before setting off. </p>

<p> Thank you. </p>

