<h4>Prices</h4>

<p>All pitches include 2 people and 1 vehicle. Children aged 3 yrs and under are free.</p>

<p>There is a backpackers rate for anyone who walks/cycles to the site with a small 1-2 man tent, for information regarding this please call us.</p>

<p>We cannot accept commercial vehicles/vans.</p>

<p>Large tents that require over 6 metres width or length need to be booked directly with the site manager on 01451 820285 or 07906 990434.</p>

<p>Please arrive between 1pm to 8pm, pitches should be vacated by 11.00am on the day of departure. If you need flexibility with your arrival or departure times contact us and we will do our best to help.</p>

<p>There is a minimum booking of three nights for Bank Holidays and 2 nights for High Season weekends.</p>

<p>Any questions email cotswoldcamping@gmail.com or call 01451 820285 or 07906 990434. If nobody is available please leave a message and we will get back to you.</p>

