<style>
body {
    font-family: "Raleway", sans-serif;
}

.about-sidenav {
    height: 100%;
    width: 15vw;
    position: fixed;
    z-index: 1;
    top: 70px;
    left: 0;
    background-color: #BFD6BC;
    overflow-x: hidden;
    padding-top: 20px;
}

.about-sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.about-sidenav a:hover {
    color: #f1f1f1;
}

.about-sidenav a.active {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .about-sidenav {padding-top: 15px;}
    .about-sidenav a {font-size: 18px;}
}
</style>




<div class="about-sidenav">
  <a href="#news">news</a>
  <a href="#prices">prices</a>
  <a href="#find">how to find us</a>
  <a href="#contact">contact info</a>
</div>






<div class="about-main">


  <div class="about-section" id="news">
    <h4>news</h4>
  <%= @news.content.html_safe %>

  </div>

  <div class="about-section" id="prices">
        <h4>prices</h4>

   <%= @prices.content.html_safe %>

  </div>

  <div class="about-section" id="find">
      <h4>how to find us</h4>

      <%= @findus.content.html_safe %>

  </div>

  <div class="about-section" id="contact">

    <%= @contact.content.html_safe %>

  </div>
</div>


<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>


  window.onscroll = function() {activateCat()};
  console.log("scroll");

  function activateCat() {

    var position = $(this).scrollTop();
    position = position + 50;

    $('.about-section').each(function() {
        var target = $(this).offset().top;
        var id = $(this).attr('id');

        if (position >= target) {
            $('.about-sidenav a').removeClass('active');
            $('.about-sidenav a[href=#' + id + ']').addClass('active');
        }
    });

  }


</script>
