 <div style="padding-top: 30px;"></div>
<%= cl_image_tag("dofe", cloud_name: 'di7okux3q') %>
 <div style="padding-top: 30px;"></div>

<p>Every year we welcome schools and groups who stay on the site as part of their Duke of Edinburgh Award.  We are ideally situated with many different routes to choose from and we are a popular site for groups taking the various awards.</p>

<p>We also have a lot of visitors from the UK and abroad looking for a quiet place to camp. Folly Farm is in an area of outstanding natural beauty and people come for a quiet, rural stay.</p>

<p>Please note that we do not normally accept D of E Group bookings on Bank Holiday weekends or during the school summer holidays.</p>

<p>The public footpaths that cross Folly Farm were formally diverted in September 2015.  Please ensure your groups are using up to date OS Maps.  The new footpath routes are just as scenic; they have been diverted to give privacy to neighbouring properties. </p>

<hr>

<p> If you are a D of E group organiser, please ring or email us for full details. </p>

<li>cotswoldcamping@gmail.com</li>
<li>01451 820285</li>
<li>07906 990434</li>

 <div style="padding-top: 100px;"></div>
