<div class="home-intro">
<h2>Welcome to Folly Farm</h2>
<p>Folly Farm Cotswold Camping is a quiet site in the heart of the Cotswolds.  It is in an “area of outstanding natural beauty”  close to the villages of Cold Aston and Notgrove.</p>
<p>The area is much loved for it's extensive walks and cycle routes. We are close to Cotswold Farm Park and Naunton Downs Golf Course as well as many historic villages and towns. South Cerney Water Parks which host a variety of water activities and the Cotswold Wildlife Park near Burford are only 30 minutes drive from us.</p>



</div>

<hr>

<div class="home-offer">

<h2>What we offer</h2>


<p>We offer simple facilities that include 4 showers, 7 toilets, dishwashing facilities, 10 amp electric hook-up points and a chemical WC disposal point.</p>

<hr>


 <a class="btn btn-warning btn-lg" href=<%=about_path%>>find out more...</a>


   <div style="padding-top: 100px;"></div>
</div>

</div>
