<h3>News</h3>

      <p>Folly Farm will remain open for now. We are taking the advice of medical professionals and the government 
     seriously and alongside this believe we have a duty of care to our campers, our local community and our team.
     If you have any questions please do not hesitate to get in touch.</p>


<p>Folly Farm</p>
