<p>Due to unforeseen circumstances we are unable to take bookings or give an opening date until we have appointed new managers.</p>

<p>We will, of course, honour any bookings that have already been made and hope to be able to announce very soon that we are up and running again!</p>

<p>Thank you for your patience over 2017, our new facilities block and managers' accommodation are ready. The new block is better insulated (ie warmer) and has a more efficient water heating system so we will be able to offer free showers for the first time. We hope you will enjoy the improvement!</p>


<p>Folly Farm</p>
