<h3>Terms and Conditions</h3>


<%= @terms.content.html_safe %>

        <!-- <p>
          We pride ourselves on being a quiet family site. We let a pitch to you with the expectation that you will follow the usual customs of good camping and caravanning. We reserve the right to ask you to leave at any point of your stay if the behaviour of any member of your party is unacceptable to us and no refund of monies will be paid.
        </p>
        <p>
          Pitch price includes two adults (or 1 adult, 1 child). There are extra charges for additional children 3 -  16 yrs, awnings,  gazebos, dogs, extra adults and cars. It is your responsibility to ensure that you can fit both your vehicle and single unit on the 10 x 6 metre pitch allocated to you. If you decide to bring extras, these must fit within the pitch.  We only allow 1 unit per pitch, so those wanting to bring additional tents or accommodation must book separately.
        </p>
        <p>
          We will confirm your booking indicating that a pitch has been reserved for you on the dates required.  The pitch offered will be based upon the information supplied by you.
        </p>
        <p>You may request a specific pitch, BUT THIS IS NOT GUARANTEED.</p>
        <p>
          You can cancel your booking anytime up to 28 days before your stay with no additional charges.  Cancellation by you within 28 days of your booking due to inclement weather, non arrival of party members, arrival after the due date or events beyond our control are non-refundable.
        </p>
        <p>
          Groups of more than three couples or three families can be made by prior arrangement only and at the management’s discretion. We are not able to accept bookings from unaccompanied persons under the age of 18.  Groups or parties who do not adhere to the site etiquette will be asked to leave without a refund.
        </p>
        <p>
          You must pitch as directed by the ground staff, not encroach upon any other pitches and consider fire risk limitation, safety and access. If you pitch outside the boundaries of your pitch or your unit is judged to pose a risk to the safety and comfort of others you will be asked to move.
        </p>
        <p>
          Any verbal and/or physical abuse to staff or guests will result in immediate expulsion from the site.  Belongings and vehicles can be collected at a later date, through prior arrangement with the management and landlord.
        </p>
        <p>
        If there is a problem or dissatisfaction with any matters under our control, please notify us immediately, so we may have the opportunity to rectify issues.  We cannot accept liability in relation to any claim of whatever nature if you fail to notify us within seven days from the end of your stay with us.
        </p>

                <h3>Data Protection</h3>
        <p>
          The information taken at time of booking is required to be collected for the purposes of processing your reservation at Folly Farm. We may process your data to keep you informed of our activities and to keep you updated with news, offers and other information that may be of interest to you. If you do not want us to use your information for the marketing purposes described in this paragraph, please let us know. We may also disclose your data to CampStead Ltd who may contact you, inviting you to complete a questionnaire and review regarding your stay at our park.
        </p>
          <h3>Site Regulations</h3>

                <ul>
        <li>          No commercial vehicles i.e. without windows and vents.
        </li>
        <li>
          We do not accept groups, any party larger than 3 units will not be accepted.
        </li>
        <li>
          Noise must be kept at a reasonable level at all times.
        </li>
        <li>
          No amplified music at any time. 10.00pm to 7am noise should be minimal.
        </li>
        <li>
          We are popular with star gazers so bring a torch as there is no external lighting.
        </li>
        <li>
          Arrival time is after 1pm departure by 11.00am. By arrangement it may be possible to extend with a late stay fee.
        </li>
        <li>
          Dogs are allowed on the site but must be kept on a lead and all mess must be bagged and disposed of in the bins.
        </li>
        <li>
          Please ensure groundsheets are breathable.
        </li>
        <li>
          Our electric capacity is 10amp per pitch.
        </li>
        <li>
          We are not on mains sewerage; waste bins are provided for disposables including wet wipes.
        </li>
        <li>
          No climbing/stone removal from dry stones walls.
        </li>
        <li>
          All BBQ’s must be above ground level. No open fires allowed.
        </li>
        <li>
          No generators.
        </li>
        <li>
          No flags, lighting, ornaments etc unless approved by the site managers; we are in a designated area of outstanding natural beauty visible from public footpaths and neighbouring houses
        </li>
        <li>
          There is a danger of Carbon Monoxide poisoning if a BBQ is in an enclosed space even after cooking has finished. Never leave in a tent, van, awning even after embers have burnt out.
        </li>
        <li>
          Make sure you are aware of the fire points when you arrive.
        </li>

                </ul>
        <p>
          Thank you for your co-operation.
        </p> -->
