
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.95;
  text-decoration: none;
  font-size: 1.1em;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}


.site-footer {
    background-color: #6A7577;
    color: white;
    padding: 15px;
    font-size: 1em;

    position: absolute;
    width: 100%;
    z-index:2
  }



.footer-info hr {
  padding: 0px;
  margin: 10px;
  opacity: 0.5;
}
