.home-banner {
  text-align: center;
  height: 95vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}
.home-banner h1 {
  font-size: 2em;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
}
.home-banner p {
  margin-bottom: 30px;
  color: white;
  opacity: 1;
}

h1 {
  color: white;
  opacity: 1;
}


.home-intro {
text-align: center;
font-size: 18px;
}

.home-offer {
text-align: center;
}

.home-intro h3 {
font-weight: bold;
margin-top: 12.5px;
}

.home-offer h3 {
font-weight: bold;
}


.home-banner-content {
  background-color: grey;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  padding: 20px;
  // max-height: 70vh;
  max-width: 600px;
  width: 80vw;
  margin-top: 60px;
  // overflow: auto;
  opacity: 0.6;
}
