<div class="container" style="background-color: #CEDBD1;">

<% Image.all.each_with_index do |image, index| %>

    <div class="responsive">
      <div class="gallery">
          <img onclick="toggleCarousel(<%= index %>)" src=<%=cl_image_path(image.source, cloud_name: 'di7okux3q', height: 200, crop: :scale, fetch_format: :auto)%> width="300" height="200">
        <div class="desc"><%= image.description%></div>
      </div>
    </div>

<% end %>

</div>


<%= render "shared/carousel" %>

<script>
  function toggleCarousel(index) {
  document.querySelector('#carousel-id').classList.toggle('show-carousel');

  var items = document.querySelectorAll('.item');
  var i;
    for (i = 0; i < items.length; i++) {
      items[i].classList.remove('active');
      if (i == index) {items[i].classList.add('active');}
    }

  var indicators = document.querySelectorAll('.carousel-indicators li');

  var k;
  for (k = 0; k < items.length; k++) {
      indicators[k].classList.remove('active');
      if (k == index) { indicators[k].classList.add('active');}
    }
  }



</script>
