<style>

.container {
  background-color: #CEDBD1;
}

</style>

<div class="container">

<% Image.all.each do |image| %>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href= <%=cl_image_path(image.source, cloud_name: 'di7okux3q')%>>
          <img src=<%=cl_image_path(image.source, cloud_name: 'di7okux3q', height: 200)%> width="300" height="200">
        </a>
        <div class="desc"><%= image.description%></div>
      </div>
    </div>

<% end %>

</div>
